header {
    font-family: $HeadingFont;
    nav {
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 2rem;
        align-items: center;
        .logo {
            flex: 2;
            img {
                width: 8rem;
                height: 2.5rem;
            }
        }
        .nav-list {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            width: 40%;
            flex-direction: column;
            height: 50vh;
            transform: translateX(100%);
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 5rem;
            background-color: black;
            flex: 1;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
        .burger {
            cursor: pointer;
            .line {
                margin: 5px;
                width: 30px;
                background-color: black;
                cursor: pointer;
                height: 3px;
                border-radius: 10px;
            }

        }   
    }
}

#hero {
    font-family: $BodyFont;
    .container {
        padding-top: 1rem;
        width: 90%;
        margin: 0 auto;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        .col-1 {
            img {
                width: 20rem;
                display: flex;
                margin:  0 auto;
                height: 20rem;
            }
        }
        .col-2 {
            h2 {
                text-align: center;
            }
            p {
                text-align: center;
            }
            .heroElements {
                display: flex;
                gap: 2rem;
                flex-direction: column;
                input {
                    height: 2rem;
                }
                button {
                    background-color: $BrightBlue;
                    border: none;
                    color: white;
                    height: 2rem;
                    font-weight: 700;
                }
            }
        }
    }
}



.nav-list.active {
    transform: translateX(0%);
    opacity: 1;
    display: flex;
    animation: FadeIn .5s ease-out;

}
@media (min-width: 1024px) {
   #hero  {
      .container {
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-direction: row-reverse ;
        align-items: center;
        .col-1 {
            img {
                width: 30rem;
                height: 30rem;
            }
        }
        .col-2 {
             display: flex;
             width: 50%;
            flex-direction: column !important;
            h2,p {
            text-align: start;
        }
        h2 {
            font-size: 2rem;
        }
        p {
            line-height: 160%;
            font-size: 1rem;
        }
            .heroElements {
                flex-direction: row;
                input {
                    width: 20rem;
                }
                button {
                    width: 10rem;
                    cursor: pointer;
                }
                
            }
        }
      }
   }
   #about {
       .container {
           position: relative;
           left: 10rem;
           padding-bottom: 7rem;
           flex-direction: row !important;
           align-items: center;
           width: 90%;
           margin: 0 auto;
           .aboutbutton {
               position: relative;
               top: 10rem;
               right: 15rem;
               width: 20rem;
           }
       }
   }
   #access {
       .container {
           flex-direction: row !important;
           align-items: center;
           gap: 5rem;
           .accesscontent {
               width: 50%;
               text-align: start;
           }
           .heroElements {
               input {
                   width: 30rem;
               }
               button {
                width: 10rem;
               }
           }
       }
   }
   #footer {
       .container {
           flex-direction: row !important;
           gap: 5rem;
           min-width: 90%;
           justify-content: space-between;
           display: flex;
           .logoinfo {
               margin-right: 10rem;
           }
           .footernav-1 {
            margin-right: 5rem;
           }
           .footernav-2 {
            margin-right: 5rem;
           }
       }
   }
}



@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: translate(80%);
    }
    
    100% {
        opacity: 1;
        transform: translate(0%);
    }
}
@keyframes FadeOut {
    0% {
        opacity: 1;
        transform: translate(0%);
    }
    
    100% {
        opacity: 0;
        transform: translate(80%);
    }
}